*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1d252c;
}

html{
    scroll-behavior: smooth
}

body::-webkit-scrollbar {
    width: 0.4em;
}

    body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px transparent;
} 
body::-webkit-scrollbar-thumb {
    background-color: #b7c5d3;
    border-radius: 5px;
}

/*------------------------------------------------------------------*?

/*Homepage*/
.home-page{
    min-height: 105vh;
    height: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/*Navigation links*/
nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;

    animation: slide-left 0.5s ease-in-out;
}
@keyframes slide-left {
    from{
        margin-left: 100%;
        width: 100%; 
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #b7c5d3;
    text-decoration: none;
    font-size: 16px;
}

/* Left underline animation */
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #82FFD8;
    display: block;
    margin: auto;
    position: absolute;
}
.nav-links ul li:hover::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #82FFD8;
    display: block;
    margin: auto;
    transition: 0.5s;
    transform: scaleX(0.75);
    transform-origin: bottom left;
}

/*Title text*/
.text-box{
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    top: 20vh;
    left: 25vw;
    color: #b7c5d3;
    padding-inline: 20px;
    word-wrap: break-word;
    padding-bottom: 60vh;

    overflow: hidden;
    animation: 1s slide-right;
}
@keyframes slide-right{
    from{
        margin-left: -100%;
        width: 100%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}

.text-box pHi{
    font-size: 18px;
    font-weight: 300;
    color: #82FFD8;
}

.text-box pName{
    font-size: 80px;
    font-weight: 600;
    line-height: 0.8;
    color: #D3E1EF;
}

.text-box pTagline{
    font-size: 72px;
    font-weight: 500;
    line-height: 1.5;
    color: #B7C5D3;
}

.text-box p{
    font-size: 18px;
    inline-size: 30em;
    line-height: 1.75;
    color: #B7C5D3;
}

/*Welcome button*/
.welcome-btn{
    display: inline-block;
    text-decoration: none;
    color: #b7c5d3;
    border: 1px solid #b7c5d3;
    border-radius: 25px;
    padding: 12px 55px;
    font-size: 18px;
    position: relative;
    top: 3em;
    left: 0em;
    background: transparent;
    cursor: pointer;
}

.welcome-btn:hover{
    border: 1px solid #82FFD8;
    background: #82FFD8;
    color: #1d252c;
    transition: 1s;
}

nav .fa-solid{
    display: none;
}

/*------------------------------------------------------------------*?

/*About Me*/
.about-me{
    min-height: 70vh;
    padding-bottom: 10vh;
    height: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.about-text{
    position:relative;
    display: inline-block;
    width: 40em;
    height: auto;
    top: 10vh;
    left: 20vw;
    color: #b7c5d3;
    padding-inline: 20px;
    word-wrap: break-word;
}
.about-text p1{
    font-size: 50px;
    font-weight: 500;
    line-height: 1.5;
    color: #82FFD8;
}
.about-text p2{
    font-size: 50px;
    font-weight: 500;
    line-height: 1.5;
    color: #D3E1EF;
}
.about-text p3{
    font-size: 18px;
    inline-size: 40em;
    line-height: 1.5;
    color: #B7C5D3;
}
.about-text p4{
    font-size: 24px;
    font-weight: 500;
    inline-size: 40em;
    line-height: 1.5;
    color: #B7C5D3;
}
.about-text p5{
    font-size: 18px;
    inline-size: 40em;
    line-height: 1.5;
    color: #B7C5D3;
}
.about-text p6{
    font-size: 18px;
    inline-size: 40em;
    line-height: 1.5;
    color: #B7C5D3;
}
.about-text p8{
    font-size: 18px;
    inline-size: 40em;
    line-height: 1.5;
    color: #B7C5D3;
}
.about-text p7{
    font-size: 22px;
    font-weight: 500;
    inline-size: 40em;
    line-height: 0.25;
    color: #D3E1EF;
}
.about-text ul{
    display: inline-block;
    margin: 0.5em;
    line-height: 1.5;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.about-text ul li::marker{
    color: #82FFD8;
}

/*------------------------------------------------------------------*?

/*Experience*/
.exp{
    min-height: 50vh;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 10vh;
}
.exp-title{
    position:relative;
    display: inline-block;
    width: 40em;
    height: auto;
    top: 10vh;
    left: 20vw;
    color: #b7c5d3;
    padding-inline: 20px;
    word-wrap: break-word;
}
.exp-title p1{
    font-size: 50px;
    font-weight: 500;
    line-height: 1.5;
    color: #82FFD8;
}
.exp-title p2{
    font-size: 50px;
    font-weight: 500;
    line-height: 1.5;
    color: #D3E1EF;
}
.exp-title p3{
    font-size: 28px;
    inline-size: 40em;
    line-height: 1.5;
    color: #B7C5D3;
}
.exp-title p4{
    font-size: 22px;
    inline-size: 40em;
    line-height: 1.5;
    color: #82FFD8;
}
.exp-title p5 a{
    font-size: 22px;
    inline-size: 40em;
    line-height: 1.5;
    color: #82FFD8;
}

.exp-box{
    position: relative;
    top: 10vh;
    left: 20vw;
}
.companies a{
    text-decoration: none;
    font-size: 12px;
    color: #b7c5d3;
    border: 2px solid #2F4858;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
}
.companies a:hover{
    background: #2F4858;
    border-left: 2px solid #82FFD8;
    transition: 1s;
}
#exp-container{
    position: absolute;
    display: inline-block;
    top: 17.5vh;
    left: 17.5vw;
    height: 100%;
    width: 100%;
}
#title-display{
    position: absolute;
    display: inline-flex;
    color: #D3E1EF;
    font-size: 32px;
    font-weight: 500;
}
#company-display{
    position: absolute;
    display: inline-flex;
    top: 5vh;
    color: #82FFD8;
}
#company-display a:after{
    content: '';
    width: 0%;
    height: 2px;
    background: #82FFD8;
    display: block;
    margin: auto;
    position: absolute;
}
#company-display a:hover:after{
    content: '';
    width: 25%;
    height: 2px;
    background: #82FFD8;
    display: block;
    margin: auto;
    transition: 0.5s;
    transform: scaleX(1);
    transform-origin: bottom left;
}
#dates-display{
    position: absolute;
    display: inline-flex;
    top: 5vh;
    left: 8vw;
    color: #B7C5D3;
}
#desc-display{
    position: absolute;
    display: inline-flex;
    inline-size: 25vw;
    top: 8vh;
    left: 0.75vw;
    color: #B7C5D3;
    line-height: 1.5;
}
#desc-display ul li::marker{
    color: #82FFD8;
}

/*------------------------------------------------------------------*?

/*Projects*/
.projects{
    min-height: 80vh;
    height: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: inliine-block;
}
.projects-text{
    position:relative;
    width: 40em;
    height: auto;
    top: 10vh;
    left: 15vw;
    color: #b7c5d3;
    padding-inline: 20px;
    word-wrap: break-word;
}
.projects-text p1{
    font-size: 50px;
    font-weight: 500;
    line-height: 1.5;
    color: #82FFD8;
}
.projects-text p2{
    font-size: 50px;
    font-weight: 500;
    line-height: 1.5;
    color: #D3E1EF;
}
.projects-text p3{
    font-size: 28px;
    font-weight: 500;
    line-height: 1.5;
    color: #b7c5d3;
    text-decoration: none;
}
.projects-text p4{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #b7c5d3;
    display: flex;
    width: 29em;
}
.projects-text p5{
    font-size: 18px;
    inline-size: 40em;
    line-height: 1.5;
    color: #82FFD8;
}
.projects-text p6 a{
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
    color: #b7c5d3;
    text-decoration: none;
}
/* Left underline animation */
.projects-text p6 a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #82FFD8;
    display: block;
    margin: auto;
    position: absolute;
}
.projects-text p6 a:hover::after{
    content: '';
    width: 25%;
    height: 2px;
    background: #82FFD8;
    display: block;
    margin: auto;
    transition: 0.5s;
    transform: scaleX(0.75);
    transform-origin: bottom left;
}
.projects-text img.featured{
    position: relative;
    top: -15vh;
    left: 25vw;
    border-radius: 25px;
    inline-size: 40em;
}
.projects-text p7{
    position: relative;
    top: 5em;
    left: 0em;
    width: 27em;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding: 10px;
    color: #b7c5d3;
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 5px;
    background: #2F4858;
    z-index: 1;
}

/*------------------------------------------------------------------*?

/*Other projects*/
.other-projects{
    min-height: 80vh;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 5em;
}
.other-projects p1{
    display: inline-block;
    text-align: center;
    font-size: 40px;
    line-height: 1.5;
    color: #b7c5d3;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/*Cards*/
.other-projects-card-container{
    display: grid;
    position: relative;
    grid-template-columns: 0em 0em auto auto;
    grid-auto-flow: row dense;
    gap: 21em;
    left: 17.25%;
}
.other-projects-card-container a{
    text-decoration: none;
    background: transparent;
}
.other-projects-card{
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
    top: 2em;
    width: 20em;
    height: 20em;
    color: #b7c5d3;
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 25px;
    background-color: #2F4858;
    margin: 0;
}
.other-projects-card img{
    width: 20em;
    height: 11.25em;
    border-radius: 25px;
    padding: 0;
    margin: 0;
}
.other-projects-card span{
    background: transparent;
    display: inline-grid;
    position: relative;
    text-decoration: none;
    text-align: left;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-inline: 0.3em;
    width: auto;
    color: #b7c5d3;
    line-height: 1.25;
    font-size: 24px;
    font-weight: 500;
    inline-size: auto;
}
.other-projects-card p1{
    background: transparent;
    display: inline-grid;
    position: relative;
    text-decoration: none;
    text-align: left;
    padding-inline: 0.5em;
    color: #b7c5d3;
    line-height: 1.25;
    font-size: 16px;
    inline-size: 95%;
    font-weight: 400;
}
.other-projects-card p1 i{
    background: transparent;
    position: relative;
    text-align: right;
    top: -1.25em;
}
.other-projects-card:hover{
    background-color: #82FFD8;
    transition: 0.75s;
    cursor: pointer;
}
.other-projects-card:hover img{
    transform: scale(0.975);
    transition: 0.75s;
}
.other-projects-card:hover span{
    color: #2F4858;
    transition: 0.75s;
}
.other-projects-card:hover p1{
    color: #2F4858;
    transition: 0.75s;
}
.other-projects-card:hover p1 i{
    color: #2F4858;
    transition: 0.75s;
}


/*------------------------------------------------------------------*/

/*About me*/
.about-me{
    height: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.contact-text{
    min-height: 60vh;
    padding-bottom: 20vh;
    height: auto;
    position:relative;
    display: inline-block;
    width: 40em;
    top: 10vh;
    left: 20vw;
    color: #b7c5d3;
    padding-inline: 20px;
    word-wrap: break-word;
}
.contact-text p1{
    font-size: 50px;
    font-weight: 500;
    line-height: 1.5;
    color: #82FFD8;
}
.contact-text p2{
    font-size: 50px;
    font-weight: 500;
    line-height: 1.5;
    color: #D3E1EF;
}
.contact-text p3{
    font-size: 26px;
    font-weight: 500;
    color: #b7c5d3;
    text-decoration: none;
}
.contact-text p4{
    font-size: 18px;
    inline-size: 40em;
    line-height: 1.5;
    color: #82FFD8;
}
.contact-text p5 a{
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
    color: #b7c5d3;
    text-decoration: none;
    cursor: pointer;
}
/* Left underline animation */
.contact-text p5 a::after{
    transition: 0.5s;
    content: '';
    font-size: 16px;
    color: transparent;
    width: 20%;
    height: 2px;
    background: transparent;
    display: block;
    margin: auto;
    position: absolute;
}
.contact-text p5 a:hover::after{
    content: 'copy to clipboard';
    font-size: 16px;
    color: #b7c5d3;
    width: 35%;
    height: 2px;
    background: #82FFD8;
    display: block;
    margin: auto;
    position: absolute;
    transition: 0.5s;
}
.contact-text p6{
    font-size: 18px;
    inline-size: 40em;
    line-height: 1.5;
    color: #82FFD8;
}
.fa-brands{
    color:#b7c5d3;
    padding-top: 0.25em;
    padding-right: 0.5em;
}
.fa-brands:hover {
    color: #82FFD8;
    transition: 0.5s;
}

/*------------------------------------------------------------------*/

/*Footer*/
.footer{
    display: inline-block;
    height: auto;
    min-height: 5vh;
}
.footer-text p1{
    text-align: center;
    color: #b7c5d3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/*------------------------------------------------------------------*/

/*Mobile support og max-width=700px*/
@media(max-width: 800px){
    /*Title text*/
    .text-box{
        position:relative;
        display: inline-block;
        width: auto;
        height: auto;
        top: 10vh;
        left: 0vw;
        color: #b7c5d3;
        padding-inline: 20px;
        word-wrap: break-word;
    }
    .text-box pHi{
        font-size: 18px;
        font-weight: 300;
        color: #82FFD8;
    }
    .text-box pName{
        font-size: 40px;
        font-weight: 600;
        line-height: 0.75;
        color: #D3E1EF;
    }
    .text-box pTagline{
        font-size: 36px;
        font-weight: 500;
        line-height: 1.75;
        color: #b7c5d3;
    }
    .text-box p{
        font-size: 16px;
        max-width: 22em;
        width: auto;
        line-height: 1.75;
        color: #b7c5d3;
    }

    /*Welcome button*/
    .welcome-btn{
        display: inline-block;
        text-decoration: none;
        color: #b7c5d3;
        border: 1px solid #82FFD8;
        border-radius: 25px;
        padding: 12px 55px;
        font-size: 18px;
        position: relative;
        top: 3em;
        left: 0em;
        background: transparent;
        cursor: pointer;
    }
    .welcome-btn:hover{
        border: 1px solid #82FFD8;
        background: #82FFD8;
        color: #1d252c;
        transition: 1s;
    }

    /*Navigation*/
    .nav-links ul li{
        display: block;
        background-color: #323B42;
        text-align: center;
        padding-top: 40px;
    }
    .nav-links{
        position: absolute;
        background: #323B42;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        padding: 30;
        transition: 0.5s;
    }
    nav .fa-solid{
        display: block;
        color: #D3E1EF;
        background: transparent;
        padding: 20px;
        cursor: pointer;
    }
    .nav-links ul li a{
        background: transparent;
    }
    /* Left underline animation */
    .nav-links ul li::after{
        content: '';
        width: 0%;
        height: 2px;
        background: #82FFD8;
        display: block;
        position: relative;
    }
    .nav-links ul li:hover::after{
        content: '';
        width: 100%;
        height: 2px;
        background: #82FFD8;
        display: block;
        transition: 0.5s;
        transform: scaleX(0.25);
        transform-origin: bottom center;
    }

    /*About Me*/
    .about-text{
        position:relative;
        display: inline-block;
        min-height: 100vh;
        width: 95%;
        height: auto;
        top: 10vh;
        left: 0vw;
        color: #b7c5d3;
        word-wrap: break-word;
        padding-bottom: 10vh;
    }
    .about-text ul{
        display: inline-block;
        margin: 0.5em;
        line-height: 1.5;
        columns: 2;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

    /*Experience*/
    .exp-title{
        position:relative;
        display: inline-block;
        width: auto;
        height: auto;
        top: 10vh;
        left: 0vw;
        color: #b7c5d3;
        padding-inline: 20px;
        word-wrap: break-word;
        padding-bottom: 40vh;
    }
    .exp-title p1{
        font-size: 50px;
        font-weight: 500;
        line-height: 1.5;
        color: #82FFD8;
    }
    .exp-title p2{
        font-size: 50px;
        font-weight: 500;
        line-height: 1.5;
        color: #D3E1EF;
    }
    .exp-title p3{
        font-size: 28px;
        inline-size: 40em;
        line-height: 1.5;
        color: #B7C5D3;
    }
    .exp-title p4{
        font-size: 22px;
        inline-size: 40em;
        line-height: 1.5;
        color: #82FFD8;
    }
    .exp-box{
        position: relative;
        top: 10vh;
        left: 0vw;
    }
    .exp-box{
        position: relative;
        top: 10vh;
        left: 20vw;
    }
    .companies a{
        text-decoration: none;
        font-size: 12px;
        color: #b7c5d3;
        border: 2px solid #2F4858;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 18px;
        cursor: pointer;
    }
    .companies a:hover{
        background: #2F4858;
        border-left: 2px solid #82FFD8;
        transition: 1s;
    }
    #exp-container{
        position: absolute;
        display: inline-block;
        top: 35vh;
        left: 5vw;
        height: 100%;
        width: 100%;
    }
    #title-display{
        position: absolute;
        display: inline-flex;
        inline-size: 90%;
        color: #D3E1EF;
        font-size: 24px;
        font-weight: 500;
    }
    #company-display{
        position: absolute;
        display: inline-flex;
        top: 8vh;
        color: #82FFD8;
    }
    #company-display a:after{
        content: '';
        width: 0%;
        height: 2px;
        background: #82FFD8;
        display: block;
        margin: auto;
        position: absolute;
    }
    #company-display a:hover:after{
        content: '';
        width: 25%;
        height: 2px;
        background: #82FFD8;
        display: block;
        margin: auto;
        transition: 0.5s;
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    #dates-display{
        position: absolute;
        display: inline-flex;
        top: 11vh;
        left: 0vw;
        color: #B7C5D3;
    }
    #desc-display{
        position: absolute;
        display: inline-flex;
        inline-size: 80%;
        top: 14vh;
        left: 4vw;
        color: #B7C5D3;
        line-height: 1.5;
    }
    #desc-display ul li::marker{
        color: #82FFD8;
    }

    /*Projects*/
    .projects-text{
        position: relative;
        display: inline-block;
        min-width: 37.5em;
        min-height: 100vh;
        padding-bottom: 10vh;
        width: 100%;
        height: auto;
        top: 20vh;
        left: 0vw;
        color: #b7c5d3;
        word-wrap: break-word;
    }
    .projects-text p3{
        display: inline-block;
        width: auto;
        height: auto;
        position: relative;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.5;
        color: #b7c5d3;
        text-decoration: none;
    }
    .projects-text p4{
        display: flex;
        width: 50%;
        height: 50%;
        position: relative;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: #b7c5d3;
    }
    .projects-text p5{
        font-size: 18px;
        inline-size: 40em;
        line-height: 1.5;
        color: #b7c5d3;
    }
    .projects-text p6 a{
        font-size: 30px;
        font-weight: 500;
        line-height: 1.5;
        color: #82FFD8;
        text-decoration: none;
        position: relative;
    }
    .projects-text img.featured{
        align-self: center;
        display: inline-block;
        width: 52%;
        height: 52%;
        position: relative;
        top: -1em;
        left: 0em;
    }
    .projects-text p7{
        position: relative;
        top: 14em;
        left: 0em;
        width:48%;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        padding: 10px;
        color: #b7c5d3;
        display: inline-block;
        border: 2px solid transparent;
        border-radius: 5px;
        background: #2F4858;
    }

    /*Other projects*/
    .other-projects{
        min-height: 80vh;
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
        padding-top: 5em;
        padding-left: 5vw;
        padding-bottom: 5em;
    }
    .other-projects p1{
        display: flex;
        text-align: left;
        font-size: 40px;
        line-height: 1.5;
        color: #b7c5d3;
        position: relative;
    }
    /*Cards*/
    .other-projects-card-container{
        display: flex;
        position: relative;
        grid-template-columns: 0em 0em auto auto;
        height: auto;
        width: auto;
        flex-direction: column;
        gap: 2em;
        left: 50%;
        transform: translateX(-50%);
    }
    .other-projects-card-container a{
        text-decoration: none;
        background: transparent;
    }
    .other-projects-card{
        position: relative;
        top: 2em;
        width: 20em;
        height: 20em;
        color: #b7c5d3;
        display: inline-block;
        border: 2px solid transparent;
        border-radius: 25px;
        background-color: #2F4858;
        margin: 0;
    }
    .other-projects-card img{
        width: 20em;
        height: 11.25em;
        border-radius: 25px;
        padding: 0;
        margin: 0;
    }
    .other-projects-card span{
        background: transparent;
        display: inline-grid;
        position: relative;
        text-decoration: none;
        text-align: left;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-inline: 0.3em;
        width: auto;
        color: #82FFD8;
        line-height: 1.25;
        font-size: 24px;
        font-weight: 500;
        inline-size: auto;
    }
    .other-projects-card p1{
        background: transparent;
        display: inline-grid;
        position: relative;
        text-decoration: none;
        text-align: left;
        padding-inline: 0.5em;
        color: #b7c5d3;
        line-height: 1.25;
        font-size: 16px;
        inline-size: 95%;
        font-weight: 400;
    }

    /*About me*/
    .contact-text{
        position:relative;
        display: inline-block;
        min-height: 80vh;
        width: auto;
        top: 10vh;
        left: 0vw;
        color: #b7c5d3;
        word-wrap: break-word;
    }
    .contact-text p3{
        font-size: 26px;
        font-weight: 500;
        color: #b7c5d3;
        text-decoration: none;
    }
    .contact-text p4{
        font-size: 18px;
        inline-size: 40em;
        line-height: 1.5;
        color: #82FFD8;
    }
    .contact-text p5 a{
        font-size: 24px;
        font-weight: 500;
        line-height: 1.5;
        color: #b7c5d3;
        text-decoration: none;
        cursor: pointer;
    }
    /* Left underline animation */
    .contact-text p5 a::after{
        transition: 0.5s;
        content: '(tap to copy)';
        font-size: 14px;
        color: #b7c5d3;
        width: auto;
        height: 2px;
        background: transparent;
        display: block;
        position: absolute;
    }
    .contact-text p5 a:hover::after{
        content: 'copied to clipboard';
        font-size: 16px;
        color: #b7c5d3;
        width: auto;
        height: 2px;
        background: #82FFD8;
        display: block;
        position: absolute;
        transition: 0.5s;
    }
}